		<link href="css/carousel.css" rel="stylesheet">
		
		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active" style="background-image: url('images/caroussel_1.jpg');">

					<div class="container" style="background-image: url('images/bg/login.jpg');">
						<div class="carousel-caption">
							<h1>UdeM Actif</h1>
							<p>UdeM actif est une plateforme réservée au membres de l'Université de Montréal invitant les étudiants à participer ou à créer leurs événements sportifs</p>
							<p><a class="btn btn-lg btn-primary" href="enregistrement" role="button">S'enregistrer gratuitement</a></p>
						</div>
					</div>
				</div>
				<div class="item" style="background-image: url('images/caroussel_2.jpg');">
					<div class="container">
						<div class="carousel-caption">
							<h1>Des activités en tout genre</h1>
							<p>Participez à des activités en tout genre parmi celles proposées par les autres membres, ou bien créez vous-même votre événements sportif si vous êtes à la recherche de partneraire(s).</p>
							<p>
								<a class="btn btn-lg btn-primary" href="liste-des-evenements/" role="button">Voir la liste des événements</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
				class="glyphicon glyphicon-chevron-left"></span></a> <a
				class="right carousel-control" href="#myCarousel" data-slide="next"><span
				class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
		
		<div class="container theme-showcase">
			<div class="row">
		        <div class="col-md-4">
		          <h2>Trouvez des événements</h2>
		          <p>Trouvez des activitées sportives. Bacon ipsum dolor sit amet meatball beef ribs jowl bresaola sirloin pork loin tail shank pork chop short ribs pork. Rump brisket tongue, shankle tri-tip pork chop capicola doner corned beef swine leberkas bresaola andouille bacon. Ham hock tenderloin andouille strip steak. Jerky kevin pork loin drumstick bresaola porchetta boudin turkey pork chop salami.</p>
		          <p><a class="btn btn-primary" href="liste-des-evenements/" role="button">Liste des activitées &raquo;</a></p>
		        </div>
		        <div class="col-md-4">
		          <h2>Créez des événements</h2>
		          <p>Créez votre propre activitée sportive. Cras eleifend, neque condimentum molestie tincidunt, tortor erat pellentesque risus, ac pharetra mi magna non nibh. Donec malesuada nisi ipsum, commodo posuere libero adipiscing id. Sed accumsan, neque eu rhoncus sagittis, turpis mauris dictum sapien, nec porttitor odio augue convallis tortor. </p>
		          <p><a class="btn btn-primary" href="ajouter-un-evenement" role="button">Créez votre événement &raquo;</a></p>
		       </div>
		        <div class="col-md-4">
		          <h2>C'est gratuit!</h2>
		          <p>Enregistrez-vous gratuitement afin de pouvoir participer et de créez vos événements Vivamus sed ultrices nulla. Aliquam erat volutpat. Nunc tincidunt justo eleifend condimentum posuere. Proin mattis placerat neque non accumsan. Praesent cursus blandit vestibulum. Curabitur convallis volutpat dolor, non fringilla ligula adipiscing eget. Quisque auctor rhoncus lobortis. </p>
		          <p><a class="btn btn-primary" href="enregistrement" role="button">S'enregistrer &raquo;</a></p>
		        </div>
	      </div>
	
		</div>