<link href="css/addEvent.css" rel="stylesheet">
<link href="css/connexion.css" rel="stylesheet">

		<div class="container theme-showcase">
			<h1 class="pageTitle">Connexion</h1>
			{{#error}}
			<div class="alert alert-danger">
		    	{{message}}
		    </div>
		    {{/error}}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Entrez vos informations de connexion</h2>
				</div>
				<div class="panel-collapse collapse in">
					<form id="formAddEvent" role="form" action="connect-user" method="POST">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nom d'utilisateur:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="username">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">Mot de passe:</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" name="password">
							</div>
						</div>
						
						<div class="form-group">
							<button class="btn btn-lg btn-primary" type="submit">Me connecter</button>
						</div>
					</form>
				</div>
			</div>
		</div>