<link href="css/events.css" rel="stylesheet">

		<div class="container theme-showcase">
			<h1 class="pageTitle">Liste des événements</h1>
			{{#addSuccess}}
			<div class="alert alert-success">
		    	<strong>Félicitation!</strong> Votre événement à bien été créé.
		    </div>
		    {{/addSuccess}}
		    {{#deleteSuccess}}
			<div class="alert alert-danger">
		    	Vous avez supprimer votre événement
		    </div>
		    {{/deleteSuccess}}
			<p class="descpage">Rechercher un événement et Bacon ipsum dolor sit amet meatball beef ribs jowl bresaola sirloin pork loin tail shank pork chop short ribs pork. Rump brisket tongue, shankle tri-tip pork chop capicola doner corned beef swine leberkas bresaola andouille bacon.</p>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="input-group" id="search">					
						<div class="filterSearch">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Événements à venir <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="javascript:#" rel="0">Événements à venir</a></li>
								<li><a href="javascript:#" rel="1">Événements passés</a></li>
								<li><a href="javascript:#" rel="2">Événements annulés</a></li>
							</ul>
						</div>
					<form method="post">
						<input type="text" class="form-control searchInput" placeholder="recherche..." name="searchInput" />
						<button type="button" class="btn btn-default searchBtn">Recherche</button>
					</form>
						
					</div>
				</div>
	
				<div class="panel-body">
					<img src="images/loading.gif" class="loading" />
					<div class="panel-group" id="eventsHolder">
									
					</div>
					<div>
					<a href="javascript:#" id="viewMoreEvents" class="btn btn-primary">Voir plus d'événements</a>
					</div>
				</div>
	
			</div>
		</div>

<script src="js/template.js"></script>
<script src="js/events.js"></script>