	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand navlink" href="accueil">UdeM Actif</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="liste-des-evenements/" class="navlink">Liste des événements</a></li>
					<li><a href="ajouter-un-evenement"  class="navlink">Créer votre événement</a></li>
				</ul>
				<div class="pull-right connect">
					<a class="btn btn-primary" href="enregistrement" role="button">Enregistrez-vous</a>
					<a class="btn btn-default" href="connexion" role="button">Connexion à votre compte</a>
				</div>
			</div>
		</div>
	</div>