<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>


<link href="css/styles.css" rel="stylesheet" type="text/css" />

</head>

<body>


<div class="container">

<div id="menuPan">

<ul class="menu">
<li class="b01"><a href="#" title="home">home</a></li>
<li class="linem"></li>
<li class="b02"><a href="#" title="about us">about us</a></li>
<li class="linem"></li>
<li class="b03"><a href="#" title="services">services</a></li>
<li class="linem"></li>
<li class="b04"><a href="#" title="partners">partners</a></li>
<li class="linem"></li>
<li class="b05"><a href="#" title="contact">contact</a></li>
</ul>

<img src="images/logo.jpg" alt="" name="logo" width="277" height="52" id="logo" />
<a href="#"><img src="images/rss.jpg" alt="" name="logo" width="159" height="40" border="0" id="subscribe" /></a>


</div>
<div id="headerPan">

<img src="images/slogan.jpg" alt="" name="logo" width="390" height="72" id="slogan" />
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum <a href="#">// MORE</a></p>

</div>
<div id="content1">

<div id="c1_1">

<div id="solutions">
<h2></h2>

<p><span class="headline">Morbi volutpat leo in ligula. Integer vel</span> <br />
Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, tincidunt in</p>

</div>
</div>
<div id="c1_2">

<div id="faster">
<h2></h2>

<p><span class="headline">Morbi volutpat leo in ligula. Integer vel</span> <br />
Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, tincidunt in</p>

</div>

</div>
<div class="clear"></div>

</div>
<div id="content2">

<div id="c2_1">

<div id="services">
<h2></h2>

<img src="images/img_services.jpg" width="75" height="75" alt="" />
<p><span class="headline2">Hello {{lname}} {{fname}}</span><br />
Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, tincidunt in  magna et nisi bibendum sagittis.<a href="#" class="link2">// more</a></p>

<div class="clear"></div>

<img src="images/img_services-15.jpg" width="75" height="75" alt="" />
<p><span class="headline2">Hello {{lname}} {{fname}} </span><br />
Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, tincidunt in  magna et nisi bibendum sagittis.<a href="#" class="link2">// more</a></p>

<div class="clear"></div>

<a href="#"><img src="images/h_readmore.jpg" alt="" width="90" height="19" border="0" class="btn_readmore"/></a>

</div>

</div>
<div id="c2_2">

<div id="smart">
<h2></h2>

<p><span class="headline2">Hello {{lname}} {{fname}} </span><br />
Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, tincidunt in  magna et nisi bibendum sagittis.<a href="#" class="link2">// more</a></p>

<ul>
<li><a href="#">Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis.  </a></li>
<li><a href="#">Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula, sodales sit amet, tincidunt in, ullamcorper condimentum  </a></li>
<li><a href="#">Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. </a></li>
</ul>

</div>

</div>

<div class="clear" style="height:20px"></div>

</div>
</div>

<div id="footerPanOut">

<div class="container" id="footerPanIn">

<p><a href="#">HOME</a> | <a href="#">ABOUT US</a> | <a href="#">SERVICES</a> | <a href="#">PARTNERS</a> | <a href="#">CONTACTS</a><br/>
  <span>Copyright &copy; Your Company Name</span></p>

</div>
</div>

</body>
</html>
